$background: 20 14.3% 4.1%;
$foreground: 0 0% 95%;
$card: 24 9.8% 10%;
$card-foreground: 0 0% 95%;
$popover: 0 0% 9%;
$popover-foreground: 0 0% 95%;
$primary-foreground: 144.9 80.4% 10%;
$secondary: 240 3.7% 15.9%;
$secondary-foreground: 0 0% 98%;
$muted: 0 0% 19%;
$muted-foreground: 240 5% 64.9%;
$accent: 12 6.5% 15.1%;
$accent-foreground: 0 0% 98%;
$destructive: 0 62.8% 30.6%;
$destructive-foreground: 0 85.7% 97.3%;
$border: 240 3.7% 15.9%;
$input: 240 3.7% 15.9%;

$primary-lighter-hex: #a1a1aa;
$primary-lighter: 161, 161, 170;
$primary-light-hex: #71717a;
$primary-light: 113, 113, 122;
$primary-main-hex: #52525b;
$primary-main: 82, 82, 91;
$primary-dark-hex: #3f3f46;
$primary-dark: 63, 63, 70;
$primary-darker-hex: #27272a;
$primary-darker: 39, 39, 42;
$secondary-lighter-hex: #d6d3d1;
$secondary-lighter: 214, 211, 209;
$secondary-light-hex: #a8a29e;
$secondary-light: 168, 162, 158;
$secondary-main-hex: #78716c;
$secondary-main: 120, 113, 108;
$secondary-dark-hex: #57534e;
$secondary-dark: 87, 83, 78;
$secondary-darker-hex: #44403c;
$secondary-darker: 68, 64, 60;